!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}
    %title
      はらへり日記#{' - ' + current_article.title unless current_article.nil?}
    = feed_tag :atom, "/feed.xml", title: "Atom Feed"
    = stylesheet_link_tag "normalize", "all", "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", "http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css", "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    = stylesheet_link_tag "rouge"
    %script(type="text/javascript" src="https://www.google.com/jsapi")
    = javascript_include_tag "libs/jquery-1.11.1.min", "libs/jquery-migrate-1.2.1.min"
    = javascript_include_tag "mylibs/google"
    %script(type="text/javascript" src="javascripts/getRSS.js" defer="defer")
  %body
    #layout.pure-g-r
      .sidebar.pure-u-1.pure-u-md-1-4
        = partial "menu"
      .content.pure-u-1.pure-u-md-3-4
        #main{:class => page_classes}
          = yield
