---
title: BLOG | はらへり日記
bodyclass: blog
pageable: true
per_page: 10
---
- if paginate && num_pages > 1
  %p
    Page #{page_number} of #{num_pages}
  - if prev_page
    %p= link_to 'Previous page', prev_page
- page_articles.each_with_index do |article, i|
  .posts
    %section.post
      %header.post-header
        %h2.post-title
          = link_to article.title, article
        %p.post-meta
          = article.date.strftime '%b %e %Y'
          %ul.tags
            - article.data.tags.each do |f|
              %li
                = link_to f, "/blog/tags/#{f.downcase}.html"
      .post-description
        = article.summary
    %a
      = link_to "もっと読む", article
- if paginate
  - if next_page
    %p= link_to 'Next page', next_page

%aside
  %h2 Recent Articles
  %ol
    -blog.articles[0...10].each do |article|
      %li
        = link_to article.title, article
        %span= article.date.strftime '%b %e'
  %h2 Tags
  %ol
    - blog.tags.each do |tag, articles|
      %li= link_to "#{tag} (#{articles.size})", tag_path(tag)
  %h2 By Year
  %ol
    - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
      %li= link_to "#{year} (#{articles.size})", blog_year_path(year)

